
*{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #f3f3f3;
    margin: 0;
}

/*----Barra de navegação----*/

header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    /*border: solid 1px red;*/
    
    
}
a{ 
    position: relative;
    top: 10px;
    margin: 40px;
    padding: 10px;
    text-decoration: none;
    font-size: 24;
    color:#5C5D57;
    /*border: solid 1px rgb(255, 0, 221);*/

}
nav{
    margin-top: 10px;
}

.inicio-bar{
    color:#FF6B6B;
    font-weight: bold;
}


/*----MAIN----*/

main{
    
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    margin-top: 20px;
    
    width: 100%;
    height: 507px;
    /*border: solid 2px violet;*/
    
    
    
    
}

.conteudo-logo-botao{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    *border: solid 2px #FF6B6B;
}

.logo{
    
    height: 84.44px;
    width: 267px;
    padding: 25px;
    
}

section{ 
    /*padding: 25px;*/
    /*border: solid 2px rgb(130, 238, 135);*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
li{
    color: #5C5D57;    ;
    font-size: 20px;
    padding: 10px;
    font-weight: 500;

}
p{
    display: flex;
    align-items: center;  
    justify-content: center;
    padding: 10px;
    color: #5C5D57;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    

}

h1{
    /*border: solid 2px black;*/
    font-family: 'Anybody', cursive;
    color: #5C5D57;
    font-size: 30;
    padding: 15px;
}
button{
    display: flex;
    width: 179px;
    height: 40px;
    padding: 15px;
    margin-top: 10px;
    align-items: center;  /*Y*/
    justify-content: center; /*X*/
    border-radius: 15px;
    border: none;
    color: #f3f3f3;
    font-size: 17px;
    font-weight: 600;
    background-color: #FF6B6B;
}
.side-image{

    display: flex;
    /*border: solid 2px red;*/
    position: relative;
    
    height: 110%;
}

